
textarea {
  resize: none;
  width: calc(100% - 2em - 4px);
  margin: 0.5em 1em;
}

main {
  width: 40%;
  text-align: center;
}

.at-main-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.at-main-page__title-container {
  text-align: left;
}

.at-main-page__header {
  text-align: center
}

.text-box__footer {
  display: flex;
  justify-content: flex-end;
  margin: 0 1em 0.5em 1em;
}

.at-main-page__service-info {
  margin: 0 1em 0.5em 1em;
}
