<article class="at-main-page">
  <header class="at-main-page__header">
    <span class="at-title at-title--big">
      {{ title }}
    </span>
  </header>

  <main>
    <section class="at-main-page__text-container">
      <article>
        <header class="at-main-page__title-container">
          <section class="at-main-page__service-info">
            <label for="api-service">
              Api service:
            </label>

            <select name="api-service"
                    id="api-service"
                    [(ngModel)]="serviceSelected"
                    (change)="updateApiServiceValues($event.target['value'])">
              <option *ngFor="let services of API_SERVICES"
                      [value]="services.value">
                {{services.name}}
              </option>
            </select>
          </section>

          <span class="at-title at-title--middle">
            Comment
          </span>
        </header>

        <textarea #inputTextField
                  name="input-text"
                  cols="44"
                  rows="12"
                  [(ngModel)]="inputText"
                  [maxLength]="MAX_CHAR_LENGTH">
        </textarea>

        <footer class="text-box__footer">
          <span>
            {{ inputTextField.value.length }}/{{MAX_CHAR_LENGTH}}
          </span>
        </footer>
      </article>
    </section>

    <section class="at-main-page__preview-container">
      <textarea name="translated-text"
                cols="44"
                rows="12"
                readonly
                [maxLength]="MAX_CHAR_LENGTH"
                [(ngModel)]="translatedText">
      </textarea>

      <footer class="text-box__footer">
        <section>
          <input list="languages"
                 [(ngModel)]="previewLanguageSelected"/>
          <datalist id="languages">
            <ng-template ngFor let-language [ngForOf]="languagesSupported">
              <option value="{{language.value}}">
                {{language.name}}
              </option>
            </ng-template>
          </datalist>
        </section>

        <button type="button"
                [disabled]="!inputText"
                (click)="translateText()">
          Translate
        </button>
      </footer>
    </section>
  </main>
</article>
